<form class="">
  <div class="md:flex mb-8 -mx-2">
    <div class="md:flex-1 mt-2 mb:mt-0 px-2">
      <label class="block uppercase tracking-wide text-sm font-bold">{{t 'form.first_name'}}</label>
      {{input
        class="w-full shadow-inner p-4 border-0"
        type="text"
        value=resume.info.firstName
        focus-out=(action 'persist')
        key-down=(action 'persist')
        placeholder="Freddy"
        action='persist'
      }}
    </div>
    <div class="md:flex-1 mt-2 mb:mt-0 px-2">
      <label class="block uppercase tracking-wide text-sm font-bold">{{t 'form.last_name'}}</label>
      {{input
        class="w-full shadow-inner p-4 border-0"
        type="text"
        value=resume.info.lastName
        focus-out=(action 'persist')
        key-down=(action 'persist')
        placeholder="Mercury"
      }}
    </div>
  </div>
  <div class="md:flex mb-8">
    <div class="md:flex-1 mt-2 mb:mt-0">
      <label class="block uppercase tracking-wide text-sm font-bold">{{t 'form.title'}}</label>
      {{input
        class="w-full shadow-inner p-4 border-0"
        type="text"
        value=resume.info.title
        focus-out=(action 'persist')
        key-down=(action 'persist')
        placeholder="Software Engineer"
      }}
    </div>
  </div>
  <div class="md:flex mb-8 -mx-2">
    <div class="md:flex-1 mt-2 mb:mt-0 px-2">
      <label class="block uppercase tracking-wide text-sm font-bold">{{t 'form.email'}}</label>
      {{input
        class="w-full shadow-inner p-4 border-0"
        type="email"
        value=resume.info.email
        focus-out=(action 'persist')
        key-down=(action 'persist')
        placeholder="patrick@tronica.io"
      }}
    </div>
  </div>
  <div class="md:flex mb-8">
    <div class="md:flex-1 mt-2 mb:mt-0 px-2">
      <label class="block uppercase tracking-wide text-sm font-bold">{{t 'form.phone'}}</label>
      {{input
        class="w-full shadow-inner p-4 border-0"
        type="tel"
        value=resume.info.phone
        focus-out=(action 'persist')
        key-down=(action 'persist')
        placeholder="+111 4321 1234"
      }}
    </div>
    <div class="md:flex-1 mt-2 mb:mt-0">
      <label class="block uppercase tracking-wide text-sm font-bold">{{t 'form.website'}}</label>
      {{input
        class="w-full shadow-inner p-4 border-0"
        type="url"
        value=resume.info.website
        focus-out=(action 'persist')
        key-down=(action 'persist')
        placeholder="tronica.io"
      }}
    </div>
  </div>
  <div class="md:flex mb-8">
    <div class="md:flex-1 mt-2 mb:mt-0">
      <label class="block uppercase tracking-wide text-sm font-bold">{{t 'form.description'}}</label>
      {{textarea
        class="w-full shadow-inner p-4 border-0"
        type="text"
        value=resume.info.intro
        focus-out=(action 'persist')
        key-down=(action 'persist')
        placeholder="Something about me"
      }}
    </div>
  </div>
</form>
