<div class="blox-theme">
  <main class="font-main hyphens-manual optimize-legibility">
    <div class="page mx-auto max-w-letter md:h-letter p-6 xsm:p-8 sm:p-9 md:p-16 bg-white">

      <header class="flex items-center mb-9">
        <h1 class="text-2xl font-semibold text-gray-750">{{resume.info.firstName}} {{resume.info.lastName}} </h1>
      </header>

      <h2 class="text-sm2 text-gray-550 font-bold print:font-normal tracking-widest">
        {{ resume.info.title }}
      </h2>

      <h3 class="mb-6 text-sm2 text-gray-550 print:font-normal">
        {{ resume.info.email }}
      </h3>

      <div class="md:col-2 print:col-2 col-gap-md md:h-letter-col print:h-letter-col col-fill">

        <section>
          <h2 class="mb-4 text-sm2 text-gray-550 font-bold print:font-normal tracking-widest">
            {{fa-icon 'user'}} INTRO
          </h2>

          <section class="mb-4 col-break-avoid">
            <p class="mt-1.5 text-md text-gray-700 leading-normal">{{ resume.info.intro }}</p>
          </section>
        </section>

        <section class="mt-7">
          <div>
            <h2 class="mb-4 text-sm2 text-gray-550 font-bold print:font-normal tracking-widest">
              {{fa-icon 'briefcase'}} WORK HISTORY
            </h2>
            {{#each resume.jobs as |job|}}
              <section class="mb-4 col-break-avoid">
                <header>
                  <h3 class="text-lg text-gray-700 font-semibold leading-heading">{{ job.company }}</h3>
                  <p class="text-md text-gray-650 leading-normal">
                    {{format-date job.startDate 'MMM YY'}}
                    –
                    {{#if job.active}}
                      Present
                    {{else}}
                      {{format-date job.endDate 'MMM YY'}}
                    {{/if}}
                    | {{ job.position }}</p>
                </header>
                <p class="list-disc mt-1.5 text-md text-gray-700 leading-normal">
                  {{{job.description}}}
                </p>
              </section>
            {{/each}}
          </div>
        </section>

        {{!-- EDUCATIONN --}}
        <section class="mt-7">
          <div>
            <h2 class="mb-4 text-sm2 text-gray-550 font-bold print:font-normal tracking-widest">
              {{fa-icon 'graduation-cap'}} EDUCATION
            </h2>
            {{#each resume.studies as |study|}}
              <section class="mb-4 col-break-avoid">
                <header>
                  <h3 class="text-lg text-gray-700 font-semibold leading-heading">
                    {{ study.school }} - {{ study.degree }}
                  </h3>
                  <p class="text-md text-gray-650 leading-normal">
                    {{format-date study.startDate 'MMM YY'}}
                    –
                    {{#if study.active}}
                      Present
                    {{else}}
                      {{format-date study.endDate 'MMM YY'}}
                    {{/if}}
                  </p>
                </header>
              </section>
            {{/each}}
          </div>
        </section>
      </div>
    </div>
  </main>
</div>