<div class="page editor max-w-6xl mx-auto">
  {{#if resume}}
    {{saving-toast show=saving}}
    <div class="tab-container">
      <div class="tab-scroll idx-{{tabIdx}}">

        {{!-- INFOS --}}
        <div class="tab px-8">
          <div>
            {{#step-card
              title=(t 'form.about_you')
              imageSrc="images/undraw_profile.svg"
              onNext=(action 'selectTab' nextTab)
            }}
              {{partial 'forms/info-form'}}
            {{/step-card}}
          </div>
        </div>

        {{!-- JOBS --}}
        <div class="tab px-8">
          <div>
            {{#step-card
              title=(t 'form.job_experience')
              imageSrc="images/undraw_resume_folder.svg"
              onPrevious=(action 'selectTab' previousTab)
              onNext=(action 'selectTab' nextTab)
            }}
              {{partial 'forms/jobs-list'}}
            {{/step-card}}
          </div>
        </div>

        {{!-- PREVIEW --}}
        <div class="tab px-8 {{unless mode.preview 'off' 'on'}}">
          {{#step-card
            onNext=(action 'selectTab' nextTab)
            onPrevious=(action 'selectTab' previousTab)
          }}
            <iframe src="/renderer"></iframe>
          {{/step-card}}
        </div>
        </div>
    </div>
  {{/if}}
</div>